apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../base
- frontendconfig.yaml
- ingress.yaml
- certificate.yaml
labels:
- includeSelectors: true
  includeTemplates: true
  pairs:
    environment: prod
images:
- name: exome-results-browsers
  newName: us-docker.pkg.dev/exac-gnomad/gnomad/exome-results-browsers
  newTag: 9ce0d46_2025-12-05_fix-analytics
